# denovonear code
include MANIFEST.in
include pyproject.toml
include scripts/*.py
include denovonear/*.cpp
include denovonear/*.py
include denovonear/*.pyx
include denovonear/*.pxd
include denovonear/data/rates.txt
include src/*.h
include src/*.cpp
include src/gzstream/gzstream.C
include src/gzstream/gzstream.h
include data/*.txt

# denovonear tests
include tests/*.py
