# denovonear code
include MANIFEST.in
include pyproject.toml
include scripts/*.py
include src/denovonear/*.cpp
include src/denovonear/*.py
include src/denovonear/*.pyx
include src/denovonear/*.pxd
include src/denovonear/data/rates.txt
include src/*.h
include src/*.cpp
include data/*.txt

# denovonear tests
include tests/*.py
